<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>综治网格化管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <script src="https://cdn.bootcss.com/require.js/2.3.6/require.js"></script>
  <script src="../layuiadmin/layui/layui.js"></script>
  <script src="../static/admin/js/common.js"></script>

</head>
<body class="layui-layout-body">
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" style="margin-right:50px;" lay-unselect>
            <a href="javascript:;">
              <cite id="usernameX"></cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="./index/admin-info.html">基本资料</a></dd>
              <!--<dd><a lay-href="./index/system.html">系统设置</a></dd>-->
              <hr>
              <dd id="signOut" layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" lay-href="home/console.html">
            <span></span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a lay-href="./index/welcome.html" lay-tips="主页" lay-direction="2">
                <i class="layui-icon">&#xe68e;</i>
                <cite>主页</cite>
              </a>
            </li>
            <li data-name="component" class="layui-nav-item">
              <a href="javascript:;" lay-tips="系统设置" lay-direction="2">
                <i class="layui-icon">&#xe620;</i>
                <cite>系统设置</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="用户管理">
                  <a lay-href="./index/system1.html">用户管理</a>
                </dd>
                <dd data-name="角色管理">
                  <a lay-href="./index/system2.html">角色管理</a>
                </dd>
                <dd data-name="区域管理">
                  <a lay-href="./index/system3.html">区域管理</a>
                </dd>
                <dd data-name="信息管理">
                  <a lay-href="./index/info-list.html">信息管理</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="辖区概况" lay-direction="2">
                <i class="layui-icon">&#xe62a;</i>
                <cite>社区概况</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="辖区介绍">
                  <a lay-href="./index/area1.html">社区介绍</a>
                </dd>
                <dd data-name="组织架构">
                  <a lay-href="./index/area2.html">组织架构</a>
                </dd>
                <dd data-name="网格分布">
                  <a lay-href="./index/area3.html">网格分布</a>
                </dd>
                <dd data-name="网格员信息">
                  <a lay-href="./index/area4.html">网格员信息</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="业务工作" lay-direction="2">
                <i class="layui-icon">&#xe656;</i>
                <cite>业务工作</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="任务发布">
                  <a lay-href="./index/work1.html">任务发布</a>
                </dd>
                <dd data-name="任务受理">
                  <a lay-href="./index/work2.html">任务受理</a>
                </dd>
                <dd data-name="日常工作">
                  <a lay-href="./index/work3.html">日常工作</a>
                </dd>
                <dd data-name="事件处理">
                  <a lay-href="./index/work4.html">事件处理</a>
                </dd>
                <dd data-name="已转派事件">
                  <a lay-href="./index/work5.html">已转派事件</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="数据录入" lay-direction="2">
                <i class="layui-icon">&#xe857;</i>
                <cite>数据录入</cite>
              </a>
              <dl class="layui-nav-child">
                <!-- <dd data-name="二代证读取">
                  <a lay-href="./index/data1.html">二代证读取</a>
                </dd> -->
                <dd data-name="手动录入">
                  <a lay-href="./index/data2.html">手动录入</a>
                </dd>
                <dd data-name="数据导入">
                  <a lay-href="./index/data3.html">数据导入</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="基础数据" lay-direction="2">
                <i class="layui-icon">&#xe857;</i>
                <cite>基础数据</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="小区信息">
                  <a lay-href="./index/basicData1.html">小区信息</a>
                </dd>
                <dd data-name="楼栋信息">
                  <a lay-href="./index/basicData2.html">楼栋信息</a>
                </dd>
                <dd data-name="房屋信息">
                  <a lay-href="./index/basicData3.html">房屋信息</a>
                </dd>
                <dd data-name="公共设施">
                  <a lay-href="./index/basicData4.html">公共设施</a>
                </dd>
                <dd data-name="道路信息">
                  <a lay-href="./index/basicData5.html">道路信息</a>
                </dd>
                <dd data-name="企业信息">
                  <a lay-href="./index/basicData6.html">企业信息</a>
                </dd>
                <dd data-name="商铺信息">
                  <a lay-href="./index/basicData7.html">商铺信息</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="人口数据" lay-direction="2">
                <i class="layui-icon">&#xe857;</i>
                <cite>人口数据</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="房主信息">
                  <a lay-href="./index/population1.html">房主信息</a>
                </dd>
                <dd data-name="人口信息">
                  <a lay-href="./index/population2.html">人口信息</a>
                </dd>
                <dd data-name="党员信息">
                  <a lay-href="./index/population3.html">党员信息</a>
                </dd>
                <dd data-name="服务对象">
                  <a lay-href="./index/population4.html">服务对象</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="统计分析" lay-direction="2">
                <i class="layui-icon">&#xe62c;</i>
                <cite>统计分析</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="统计分析">
                  <a lay-href="./index/ksh.html">统计分析</a>
                </dd>
              </dl>
            </li>
            <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="电子监控" lay-direction="2">
                <i class="layui-icon">&#xe617;</i>
                <cite>电子监控</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="监控展示">
                  <a lay-href="../map/demo.html">监控展示</a>
                </dd>
                <!-- <dd data-name="监控列表">
                  <a lay-href="">监控列表</a>
                </dd> -->
              </dl>
            </li>
            <!-- <li data-name="template" class="layui-nav-item">
              <a href="javascript:;" lay-tips="实时指挥" lay-direction="2">
                <i class="layui-icon">&#xe656;</i>
                <cite>实时指挥</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="实时指挥">
                  <a lay-href="">实时指挥</a>
                </dd>
              </dl>
            </li> -->
            <!--<li data-name="home" class="layui-nav-item">-->
              <!--<a lay-href="./index/email.html" lay-tips="邮件系统" lay-direction="2">-->
                <!--<i class="layui-icon">&#xe66e;</i>-->
                <!--<cite>邮件系统</cite>-->
              <!--</a>-->
            <!--</li>-->
            <li data-name="home" class="layui-nav-item">
              <a lay-href="./index/admin-info.html" lay-tips="个人信息" lay-direction="2">
                <i class="layui-icon">&#xe66f;</i>
                <cite>个人信息</cite>
              </a>
            </li>
            <li data-name="home" class="layui-nav-item">
              <a lay-href="./index/system.html" lay-tips="系统设置" lay-direction="2">
                <i class="layui-icon">&#xe716;</i>
                <cite>系统设置</cite>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>

      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="./index/welcome.html" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script>
    if(getCookie('Authorization') == ''){
      document.getElementsByTagName('body')[0].innerHTML = '';
      alert('还未登录，无权访问');
      window.location.href  = './login.html';
    }else {
      AJAX({
        url:'http://58.144.34.96:5000/web_manager/public/index.php/index/User/userInfo',
        method:'POST',
        success(data){
          if(data.state==200){
            document.getElementById('usernameX').innerText = data.data.username;
            setCookie('id',data.data.id,3600*2);
          }

        }
      })
    }

    document.getElementById('signOut').onclick = function(){
      delCookie('Authorization');
      window.location.href  = './login.html';
    }
  </script>

  <script>
  layui.config({
    base: '../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');
  </script>
</body>
</html>


