<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>logon</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">
  <style>
    .layui-col-md3,.layui-col-md9 {
      height:100vh;
      border:1px solid cadetblue;
    }
  </style>
</head>
<body>
<div>
  <div class="layui-row">
    <div class="layui-col-md3 layui-col-sm3"></div>
    <div class="layui-col-md9 layui-col-sm9 layui-col-xs6 "></div>
  </div>
  <input type="text" placeholder="">
</div>
</body>
</html>