<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>社区介绍</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div>
  <p style="text-align: center; ">
    <font size="6"><br></font>
  </p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p style="text-align: center; "><font size="7">XX街道XX社区概况</font></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;惠山区XX街道XX社区成立于2017年，位于复兴街道南面2.0公里，东邻太山二路(武警八支队)，北邻横一路延伸段，西邻悦复大道，南邻太山一路。辖区分为泰和路300号、泰和路350号、兴瑞路77号。辖区住房建筑面积约312920.79平方米，合计4502套。现已接房入住4012户、7000余人。 

　　<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018年，XX社区创新开展综治·网格化服务管理双中心建设，紧紧围绕“和谐网格、现代网格”的建设目标，以网格化管理、信息化支撑、社会化服务为工作抓手，着力把综治·网格化服务管理中心打造成“感知民情的第一触角、化解矛盾的第一前沿、便民服务的第一窗口、共建共治共享的第一平台”。</font>
  </p>
  <p><br></p></div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.use(['form', 'jquery', 'layer', 'dialog'], function () {
    var $ = layui.jquery;

    //修改状态
    $('#table-list').on('click', '.table-list-status', function () {
      var That = $(this);
      var status = That.attr('data-status');
      var id = That.parent().attr('data-id');
      if (status == 1) {
        That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
      } else if (status == 2) {
        That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

      }
    })

  });
</script>
</body>

</html>