<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>社区介绍</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div>
  <p style="text-align: center; ">
    <font size="6"><br></font>
  </p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p style="text-align: center; "><font size="7">凤凰社区介绍</font></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凤凰社区以凤凰新村为中心，辐射周边二无宿舍、罐头厂宿舍、油墨厂宿舍、临凤楼及中利佳园。东临荷泽社区，西接鼓楼洪山镇，南达工业路、北至斗池路，面积0。2平方公里，内有新村楼院68座，其中无物业管理楼院有53座，现有居民住户1481户，总人口4262人。内辖：市财政干部学校、台江妇幼保健院、凤凰中心幼儿园及两家物业管理单位，社区虽属80年代建的旧型新村，但绿树掩映，环境优美，充满着生机和活力的社区人文环境。

　　<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凤凰社区本着以人为本，按照礼貌和谐社区的标准，努力做好社区建设的各项工作。社区委员会现有8名成员，分别负责社区党建、综合治理、社区文化、民政、计生和社区环境卫生工作等日常管理和服务工作。服务于社区居民和单位，努力实践“三个代表”的重要思想，不断改善社区的环境卫生，丰富社区的文化，创造优美、舒适的社区生活环境。社区建有社区公示栏、宣传栏，定期公示社区事务和各方面的宣传教育资料，评议社区居民所关心的话题，宣传党和政府的方针政策等。利用社区服务网络设置24小时热线电话，全方位为社区居民带给各种便民利民服务，社区居民对社区的满意率不断提高。组织了老年人太极拳队，妇女腰鼓队、扇舞队等多支文艺队伍活跃社区文化生活，多渠道、多方位地开展和建立精神礼貌活动，促进了社区的礼貌风尚，成为社区一道独特、亮丽的风景线。</font>
  </p>
  <p><br></p></div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.use(['form', 'jquery', 'layer', 'dialog'], function () {
    var $ = layui.jquery;

    //修改状态
    $('#table-list').on('click', '.table-list-status', function () {
      var That = $(this);
      var status = That.attr('data-status');
      var id = That.parent().attr('data-id');
      if (status == 1) {
        That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
      } else if (status == 2) {
        That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

      }
    })

  });
</script>
</body>

</html>