<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>社区介绍</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div>
  <p style="text-align: center; ">
    <font size="6"><br></font>
  </p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p style="text-align: center; "><font size="7">北碚区天府镇概况</font></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><br></p>
  <p><font size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;天府镇位于北碚城东北部，地形呈典型南北走向的“一山三岭二槽”分布，东连北碚区静观镇，南临嘉陵江，北与合川区杨柳坝接壤，西与北碚区东阳镇相邻，幅员面积54平方公里，辖8个村，3个社区居委会，人口 5万余人。 

　　<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;镇因境内天府煤矿而得名。民国时设文星乡、代家乡，1958年改为文星公社、代家公社，1984年改为文星乡、代家乡。1988年，撤销文星乡、代家乡和文星街道，合并设立天府镇。1996年，面积54平方千米，人口5万人，辖大田、龙塘、代家、青峰、石佛、桂花、铜钱、新湾、清滩、文星、工农、大同、和平、新华、五四、五井、新桥、麻柳、水岚垭19个行政村和以序数命名的11个居委会。</font>
  </p>
  <p><br></p></div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
  layui.use(['form', 'jquery', 'layer', 'dialog'], function () {
    var $ = layui.jquery;

    //修改状态
    $('#table-list').on('click', '.table-list-status', function () {
      var That = $(this);
      var status = That.attr('data-status');
      var id = That.parent().attr('data-id');
      if (status == 1) {
        That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
      } else if (status == 2) {
        That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

      }
    })

  });
</script>
</body>

</html>