<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
  <div style="margin: 0 auto; width: 1080px; min-width: 1080px;height: auto;padding-top: 10px; background-color: #F2F2F2;">

        <div class="layui-card">
          <!-- <div class="layui-card-header"></div> -->
          <div class="layui-card-body">
              <img src="../../static\admin\images\area2.jpg" alt="" width=100%>
          </div>
        </div>
  </div> 


</body>

</html>