<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./alert/const.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn" id="delete">
      删除
    </button>
    <button class="layui-btn layui-btn-sm listOrderBtn" style="background-color: #0f9c00" id="exam">
      审核
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
    var cols = [ //表头
      {type: 'checkbox'}
      , {title: 'id',align:'center',type:'numbers'}
      , {field: 'area', title: '所属区域',align:'center'}
      , {field: 'street_level', title: '道路等级',align:'center'}
      , {field: 'street_name', title: '道路名称',align:'center'}
      , {field: 'long', title: '长度',align:'center'}
      , {field: 'width', title: '宽度',align:'center'}
      , {field: 'car', title: '车道数',align:'center'}
      , {field: 'single_car', title: '单车道',align:'center'}
      , {field: 'status', title: '状态',align:'center'}
      , {field: '',title:"操作",align:'center',templet:'#detail',width:'20%'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    var testData = [
      {id:'111',area:'XX家园',street_level:'三级',street_name:'三江大道',long:'10km',width:'12m',car:'2',single_car:'是',status:'已审核'},
      {id:'111',area:'XX家园',street_level:'三级',street_name:'三江大道',long:'10km',width:'12m',car:'2',single_car:'是',status:'已审核'},
      {id:'111',area:'XX家园',street_level:'三级',street_name:'三江大道',long:'10km',width:'12m',car:'2',single_car:'是',status:'已审核'},
      ];

    function editSuc(layero, index){}
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {0:'area',1:"区域"},
        {0:"grid",1:'网格'},
        {0:'log_name',1:'日志名称'},
        {0:"log_type",1:{
            'title':'类型',
            'option':['巡查','走访 ','宣传','处理','重点人员寻访']
          }},
        {0:"content",1:"日志内容"},
      ]
      var url =  globalUrl+otherUrl.Work[2][1];
      iframe.getFromParent(addData,url);
    }
    var correspond = {};
    var editAjaxUrl =  globalUrl+otherUrl.Work[2][3];
    var detailUrl = './alert/detail.html'
    var deleteUrl =  globalUrl+otherUrl.Work[2][2];
    var getTable = function() {
      AJAX({
        // url: globalUrl+otherUrl.Work[2][0],
        method: 'GET',
        success:function(data) {
          // if(data.state==200){
          correspond = data.data;
          setTable({
            addUrl:addUrl,
            editUrl:editUrl,
            cols:cols,
            data:testData,
            editSuc:editSuc,
            editEnd:editEnd,
            addSuc:addSuc,
            editAjaxUrl:editAjaxUrl,
            deleteUrl:deleteUrl,
            detailUrl:detailUrl
          });
          // }else{
          //   layer.msg('错误');
          // }
        }
      })
    }
    getTable();
  })
</script>
<script id="type5" type="text/html">
  {{# if(d.log_type==5){ }}
  <span style="color: #FF0000">{{logType[d.log_type]}}</span>
  {{# }else{ }}
  <span>{{logType[d.log_type]}}</span>
  {{# } }}
</script>

<script id="detail" type="text/html">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      查看详情
    </button>
    <!-- <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      家庭成员
    </button> -->
    {{# if(true){ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" style="background-color: red" convalue="{{d.LAY_INDEX-1}}">
      审核
    </button>
    {{# }else{ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" style="background-color: #0f9c00" convalue="{{d.LAY_INDEX-1}}">
      已通过
    </button>
    {{# } }}
  </div>
</script>
</body>

</html>