<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./alert/const.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn" id="delete">
      删除
    </button>
    <button class="layui-btn layui-btn-sm listOrderBtn" style="background-color: #0f9c00" id="exam">
      审核
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
    var cols = [ //表头
      {type: 'checkbox'}
      , {title: 'id',               align: 'center', type: 'numbers'}
      , {field: 'court_id',         title: '所属小区', align: 'center'}
      , {field: 'grid_id',          title: '所属网格', align: 'center'}
      , {field: 'block_name',       title: '楼栋名称', align: 'center'}
      , {field: 'unit_count',       title: '总单元数', align: 'center'}
      , {field: 'unit_floor_count', title: '总层数',   align: 'center'}
      , {field: 'house_count',      title: '总户数',   align: 'center'}
      , {field: 'block_audit',            title: '状态',    align: 'center', templet:'<span>{{otherStatus[d.block_audit]}}</span>'}
      , {field: '',title:"操作",align:'center',templet:'#detail',width:'20%'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    function editSuc(layero, index, data){
      var iframe = window['layui-layer-iframe' + index];
      var editData = [
        {0:'id',                 1:'ID',        2:data['id']},
        {0:'court_id',           1:"所属小区",   2:data['court_id']},
        {0:'block_name',         1:"楼栋名称",   2:data['block_name']},
        {0:"grid_id",            1:'所属网格',   2:data['grid_id']},
        //{0:'block_admintor',     1:'网格管理员', 2:data['block_admintor']},
        {0:'unit_count',         1:'总单元数',   2:data['unit_count']},
        {0:'house_count',         1:'总户数',   2:data['house_count']},
        {0:'unit_floor_count',   1:'总层数',    2:data['unit_floor_count']},
        {0:'block_admintor',     1:'楼栋长',    2:data['block_admintor']},
        {0:'block_admintor_tel', 1:'联系电话',   2:data['block_admintor_tel']},
        /*
        {0:"log_type",1:{
            'title':'类型',
            'option':['巡查','走访 ','宣传','处理','重点人员寻访']
          }},
        */
      ]
      var url =  'http://47.106.197.31/man/public/index.php/index/Courtdata/editBlockData';
      iframe.getFromParent(editData,url);
    }
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {0:'court_id',           1:"所属小区"},
        {0:'block_name',         1:"楼栋名称"},
        {0:'grid_id',            1:"所属网格"},
        //{0:'block_admintor',     1:"网格管理员"},
        {0:'unit_count',         1:"总单元数"},
        {0:'house_count',         1:"总户数"},
        {0:'unit_floor_count',   1:"总层数"},
        {0:'block_admintor',     1:"楼栋长"},
        {0:'block_admintor_tel', 1:"联系电话"},
      ]
      var url =  'http://47.106.197.31/man/public/index.php/index/Courtdata/addBlockData';
      iframe.getFromParent(addData,url);
    }
    var correspond = {};
    var editAjaxUrl = 'http://47.106.197.31/man/public/index.php/index/Courtdata/getBlockDataList';
    var detailUrl = './alert/detail.html'
    var deleteUrl =  'http://47.106.197.31/man/public/index.php/index/Courtdata/deleteBlockData';
    var getTable = function() {
      AJAX({
        url: editAjaxUrl,
        method: 'GET',
        success:function(data) {
          if(data.state==200){
          correspond = data.data;
          setTable({
            addUrl:addUrl,
            editUrl:editUrl,
            cols:cols,
            data:correspond,
            editSuc:editSuc,
            editEnd:editEnd,
            addSuc:addSuc,
            editAjaxUrl:editAjaxUrl,
            deleteUrl:deleteUrl,
            detailUrl:detailUrl,
            checkUrl:'http://47.106.197.31/man/public/index.php/index/Courtdata/auditBlock'
          });
          }else{
            layer.msg('错误');
          }
        }
      })
    }
    getTable();
  })
</script>
<script id="type5" type="text/html">
  {{# if(d.log_type==5){ }}
  <span style="color: #FF0000">{{logType[d.log_type]}}</span>
  {{# }else{ }}
  <span>{{logType[d.log_type]}}</span>
  {{# } }}
</script>

<script id="detail" type="text/html">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      查看详情
    </button>
    <!-- <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      家庭成员
    </button> -->
    {{# if(d['block_audit']!=1){ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal check" style="background-color: red" convalue="{{d.LAY_INDEX-1}}">
      审核
    </button>
    {{# }else{ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" style="background-color: #0f9c00" convalue="{{d.LAY_INDEX-1}}">
      已通过
    </button>
    {{# } }}
  </div>
</script>
</body>

</html>