<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./alert/const.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn" id="delete">
      删除
    </button>
    <button class="layui-btn layui-btn-sm listOrderBtn" style="background-color: #0f9c00" id="exam">
      审核
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
    var cols = [ //表头
      {type: 'checkbox'}
      , {title: 'id',align:'center',type:'numbers'}
      , {field: 'area', title: '所属区域',align:'center'}
      , {field: 'company_name', title: '企业名称',align:'center'}
      , {field: 'property', title: '企业性质',align:'center'}
      , {field: 'industry', title: '所处行业',align:'center'}
      , {field: 'company_size', title: '企业规模',align:'center'}
      , {field: 'company_audit', title: '状态',align:'center',templet:'<span>{{otherStatus[d.company_audit]}}</span>'}
      , {field: '',title:"操作",align:'center',templet:'#detail',width:'20%'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    function editSuc(layero, index, data){
      var iframe = window['layui-layer-iframe' + index];
      var editData = [
        {0:'id',       1:'ID   ',   2:data['id']},
        {0:'area',     1:"所属区域", 2:data['area']},
        {0:"company_name",    1:'企业名称', 2:data['company_name']},
        // {0:'property',     1:'企业性质', 2:data['property']},
        {0:'industry',   1:'所处行业',    2:data['industry']},
        {0:'company_size',    1:'企业规模',    2:data['company_size']},
        // {0:'company_audit',     1:'状态',  2:data['company_audit']},
      ]
      var url =  'http://47.106.197.31/man/public/index.php/index/Basicdata/editCompany';
      iframe.getFromParent(editData,url);
    }
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {0:'area',1:"区域"},
        {0:"company_name",1:'企业名称'},
        // {0:'property',1:'日志名称'},
        {0:"industry",1:"所处行业"},
        {0:"company_size",1:"企业规模"},
        // {0:"company_audit",1:"日志内容"},
      ]
      var url =  'http://47.106.197.31/man/public/index.php/index/Basicdata/addCompany';
      iframe.getFromParent(addData,url);
    }
    var correspond = {};
    var editAjaxUrl =  globalUrl+otherUrl.Work[2][3];
    var detailUrl = './alert/detail.html'
    var deleteUrl =  'http://47.106.197.31/man/public/index.php/index/Basicdata/deleteCompany';
    var getTable = function() {
      AJAX({
        url: 'http://47.106.197.31/man/public/index.php/index/Basicdata/getCompanyList',
        method: 'GET',
        success:function(data) {
          if(data.state==200){
          correspond = data.data;
          setTable({
            addUrl:addUrl,
            editUrl:editUrl,
            cols:cols,
            data:data.data,
            editSuc:editSuc,
            editEnd:editEnd,
            addSuc:addSuc,
            editAjaxUrl:editAjaxUrl,
            deleteUrl:deleteUrl,
            detailUrl:detailUrl,
            checkUrl:'http://47.106.197.31/man/public/index.php/index/Basicdata/auditCompany'
          });
          }else{
            layer.msg('错误');
          }
        }
      })
    }
    getTable();
  })
</script>
<script id="type5" type="text/html">
  {{# if(d.log_type==5){ }}
  <span style="color: #FF0000">{{logType[d.log_type]}}</span>
  {{# }else{ }}
  <span>{{logType[d.log_type]}}</span>
  {{# } }}
</script>

<script id="detail" type="text/html">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      查看详情
    </button>
    <!-- <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      家庭成员
    </button> -->
    {{# if(d['facility_status']!=1){ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal check" style="background-color: red" convalue="{{d.LAY_INDEX-1}}">
      审核
    </button>
    {{# }else{ }}
    <button class="layui-btn layui-btn-sm layui-btn-normal" style="background-color: #0f9c00" convalue="{{d.LAY_INDEX-1}}">
      已通过
    </button>
    {{# } }}
  </div>
</script>
</body>

</html>