<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>综合管理系统</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/admin.css"/>
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <input type="file" id="xlsx">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/lib/xlsx/xlsx.core.min.js"></script>

<script>
  var dataX = [
    {
      id:'a',
      username:'a',
      sfz:'111',
      sex:'m',
      scope:'aaa',
      wl:'aaa',
      wg:'aaa'
    },
    {
      id:'a',
      username:'a',
      sfz:'111',
      sex:'m',
      scope:'aaa',
      wl:'aaa',
      wg:'aaa'
    }
  ];

  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider'], function() {
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
      // , xlsx = layui.xlsx;

    //执行一个 table 实例
    table.render({
      elem: '#demo'
      , height: 520
      , url: '' //数据接口
      ,data:dataX
      , title: '用户表'
      , page: true //开启分页
      , loading:true
      , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
      , cols: [[ //表头
        {type: 'checkbox', fixed: 'left'}
        , {field: 'id', title: 'ID',type:'numbers'}
        , {field: 'username', title: '姓名',}
        , {field: 'sex', title: '性别', sort: true}
        , {field: 'sfz', title: '身份证号', sort: true, totalRow: true}
        , {field: 'scope', title: '所属区域'}
        , {field: 'wl', title: '所属网络'}
        , {field: 'wg', title: '网格管理员'}
      ]]
    });

    //监听头工具栏事件
    table.on('toolbar(test)', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      var data = checkStatus.data; //获取选中的数据
      switch (obj.event) {
        case 'add':
          layer.msg('添加');
          break;
        case 'update':
          if (data.length === 0) {
            layer.msg('请选择一行');
          } else if (data.length > 1) {
            layer.msg('只能同时编辑一个');
          } else {
            layer.alert('编辑 [id]：' + checkStatus.data[0].id);
          }
          break;
        case 'delete':
          if (data.length === 0) {
            layer.msg('请选择一行');
          } else {
            layer.msg('删除');
          }
          break;
      }
    });

    document.getElementById('xlsx').onchange = function(){
      ConvertToArray();
    }
    //没有经行验证
    function ConvertToArray() {
      var reader = new FileReader();
      reader.readAsBinaryString(document.getElementById("xlsx").files[0]);
      reader.onloadend = function (evt) {
        if(evt.target.readyState == FileReader.DONE){
          var data = reader.result;
          var workbook = XLSX.read(data, { type: 'binary' });
        }
        var sheet_name_list = workbook.SheetNames;
        var result = XLSX.utils.sheet_to_json(workbook.Sheets[sheet_name_list[0]]);
        dataX = result.concat(dataX);
        tableRender();
      }
    }
    function tableRender(){
      table.render({
        elem: '#demo'
        , height: 520
        , url: '' //数据接口
        ,data:dataX
        , title: '用户表'
        , page: true //开启分页
        , loading:true
        , toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
        , cols: [[ //表头
          {type: 'checkbox', fixed: 'left'}
          , {field: 'id', title: 'ID',type:'numbers'}
          , {field: 'username', title: '姓名'}
          , {field: 'sex', title: '性别', sort: true}
          , {field: 'sfz', title: '身份证号', sort: true, totalRow: true}
          , {field: 'scope', title: '所属区域'}
          , {field: 'wl', title: '所属网络'}
          , {field: 'wg', title: '网格管理员'}
        ]]
      });
    }
  })


</script>

</body>

</html>