<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/lib/xlsx/xlsx.core.min.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal">
      导入
      <input type="file" id="xlsx" style="position:absolute;width:100%;left:0;opacity:0;">
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn hidden-xs">
      刷新
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider;

    // var testData = [{id:'111',username:'aaa',realname:'111',scope:'aaa','phone':'123','ip':'125',name:'aaa'}];
    var cols = [ //表头
      {type: 'checkbox'}
      , {field: 'id', title: 'id',align:'center'}
      , {field: 'img_src', title: 'icon',align:'center',templet:"<div><img style='width:40px; height:40px;' src='{{d.img_src}}' alt=''></div>"}
      , {field: 'username', title: '用户名',align:'center'}
      , {field: 'realname', title: '真实姓名',align:'center'}
      , {field: 'scope', title: '所属区域',align:'center'}
      , {field: 'phone', title: '联系电话',align:'center'}
      , {field: 'last_login', title: '最近登陆',align:'center'}
      , {field: 'ip', title: 'ip地址',align:'center'}
      , {field: 'name',title:"角色",align:'center'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    function editSuc(layero, index){}
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {0:'username',1:"用户名"},
        {0:"realname",1:'真实姓名'},
        {0:'img_src',1:'ICON'},
        {0:"scope",1:'所属区域'},
        {0:"phone",1:"联系电话"},
        {0:"name",
        1:{
          "title":'角色名称',
          "option":['社区居民','管理员','网格管理员','网格联系人','楼栋长']
        }}
      ]
      var url = '';
      iframe.getFromParent(addData,url);
    }
    var editAjaxUrl = '';

    var getTable = function() {
      $.ajax({
        url: 'http://172.23.22.120/manage/api.php?action=getAllUsers',
        method: 'GET',
        success(data) {
          var _data = JSON.parse(data);
          userData = _data.data;
          setTable({
            editUrl:editUrl,
            cols:cols,
            data:userData,
            editSuc:editSuc,
            editEnd:editEnd,
            editAjaxUrl:editAjaxUrl
          });
          document.getElementById('xlsx').onchange = function() {
            ConvertToArray();
          }
        },
        error(state) {
          console.log(state);
        }
      })
    }

    //没有经行验证
    function ConvertToArray() {
      var reader = new FileReader();
      reader.readAsBinaryString(document.getElementById("xlsx").files[0]);
      reader.onloadend = function (evt) {
        if (evt.target.readyState == FileReader.DONE) {
          var data = reader.result;
          var workbook = XLSX.read(data, {type: 'binary'});
        }
        var sheet_name_list = workbook.SheetNames;
        var result = XLSX.utils.sheet_to_json(workbook.Sheets[sheet_name_list[0]]);
        console.log(result);
        // getTable();
        echartExcel(result);

      }
    }
    getTable();



  })
</script>

</body>

</html>