<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../static/admin/css/index.css"/>
  <link rel="stylesheet" type="text/css" href="../../layuiadmin/layui/css/layui.css"/>
  <!--<script src="../../layuiadmin/layui/lay/modules/jquery.js" type="text/javascript" charset="utf-8"></script>-->
  <script src="../../static/admin/lib/echarts/echarts.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <title></title>
  <style>
    * {
      padding:0;
      margin:0;
    }
    #my-canvas {
      width:99.5vw;
      height:99.5vh;
      background-color: #333333;
      position:relative;
      z-index:-1;
    }
    .body {
      position:fixed;
      top:0;
    }
  </style>
</head>
<body>
<canvas id="my-canvas"></canvas>
<div class="body">
  <div class="head">
    <img src="../../static/admin/images/ksh/title.png"/>
    <span>
					<div>
						<p class="nowtime"></p>
						<p class="temp"></p>
					</div>
				</span>
  </div>
  <div class="content">
    <div class="left">
      <div class="left_top">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
									社会组织统计
            </span>
          </div>
          <div class="text party">
            <div class="party-age">
              <div></div>
              <span>商铺统计</span>
            </div>
            <div class="party-edu">
              <div></div>
              <span>社会单位统计</span>
            </div>
          </div>
        </div>
      </div>
      <div class="left_middle">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
									党建情况统计
            </span>
          </div>
          <div class="text">
            <div class="society">
              <div class="so-data1"></div>
              <span name="so-name">
										党龄
									</span>
            </div>
            <div class="society">
              <div class="so-data2"></div>
              <span name="so-name">
										学历分布
									</span>
            </div>
          </div>
        </div>
      </div>
      <div class="left_foot">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
									人口年龄统计
								</span>
          </div>
          <div class="text age" style="width:100%;height:100%;">
          </div>
        </div>
      </div>
    </div>
    <div class="middle">
      <div class="map">
        <div>
							<span id="fullScr">
								<img src="../../static/admin/images/ksh/fullScr.png">
								<span>全屏</span>
							</span>
          <h4 id="map_title">地图</h4>
          <div id="event_box">
            <div class="c_title">事件处理</div>
            <div id="ct" style="width:100%;height:100%;"></div>
          </div>
          <div class="maps">
            <iframe id="map_box" src="" width="100%" height="100%" frameborder="no"></iframe>
          </div>
        </div>
      </div>
      <div class="video">
        <div class="lastpage"></div>
        <div class="mid-video">
          <div id="v_first">
            <span></span>
          </div>
          <div id="v_second">
            <span></span>
          </div>
        </div>
        <div class="nextpage"></div>
      </div>
    </div>
    <div class="right">
      <div class="right_top">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
									诉求业务总量
								</span>
          </div>
          <div class="text">
            <div class="business">
									<span>
										<img src="../../static/admin/images/ksh/transferPop.png"/>
										<div class="tran-event">
											<p>转办事件</p>
											<p></p>
										</div>
									</span>
              <span>
										<img src="../../static/admin/images/ksh/visa.png"/>
										<div class="over-event">
											<p>办结案件</p>
											<p>2000</p>
										</div>
									</span>
            </div>
            <div class="business">
              <span>
                <div class="first-event">
                  <p>紧急事件</p>
                  <p></p>
                </div>
              </span>
              <span>
                <div class="second-event">
                  <p>一般事件</p>
                  <p></p>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="right_middle">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
									事件处理情况
								</span>
          </div>
          <div class="text event-data"></div>
        </div>
      </div>
      <div class="right_foot">
        <div>
          <div class="title">
            <img src="../../static/admin/images/ksh/detail.png"/>
            <span class="head-name">
										网格信息统计
									</span>
          </div>
          <div class="text gridStatus"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<!--<script>-->
  <!--var myCanvas = document.getElementById('my-canvas');-->
  <!--var allW = document.documentElement.clientWidth;-->
  <!--var allH = document.documentElement.clientHeight;-->
  <!--// myCanvas.width = "100vw";-->
  <!--// myCanvas.height = "100vh";-->

  <!--var ctx  = myCanvas.getContext('2d');-->

  <!--var ballArr = [];-->
  <!--(function(){-->
    <!--for(var i=0;i<300;i++){-->
      <!--//创建指定个数小圆球-->
      <!--new Ball();-->
    <!--}-->
  <!--})();-->
  <!--//小圆球对象-->
  <!--function Ball(){-->
    <!--this.x = randomNum(0,allW);-->
    <!--this.y = randomNum(0,allH);-->
    <!--this.color = "rgba("+Math.random()*255+","+Math.random()*255+","+Math.random()*255+",0.3)";-->
    <!--this.r = randomNum(1,4);-->
    <!--var rand = Math.random();-->
    <!--this.speedX = (Math.random()>0.5) ? rand : -rand;-->
    <!--rand = Math.random();-->
    <!--this.speedY = (Math.random()>0.5) ? rand : -rand;-->
    <!--ballArr.push(this);-->
  <!--}-->

  <!--Ball.prototype.draw = function(){-->
    <!--ctx.beginPath();-->
    <!--ctx.fillStyle = this.color;-->
    <!--ctx.arc(this.x,this.y,this.r,0,Math.PI*2);-->
    <!--ctx.fill();-->
  <!--}-->

  <!--Ball.prototype.move = function(){-->
    <!--this.x = this.x+this.speedX;-->
    <!--this.y = this.y+this.speedY;-->

    <!--if(this.x<=0 || this.x>=allW-20){-->
      <!--this.speedX = -this.speedX;-->
    <!--}-->

    <!--if(this.y<=0 || this.y>=allH){-->
      <!--this.speedY = -this.speedY;-->
    <!--}-->
  <!--}-->

  <!--var timer = setInterval(function(){-->
    <!--ctx.clearRect(0,0,allW,allH);-->
    <!--for(var i = 0;i<ballArr.length;i++){-->
      <!--ballArr[i].draw();-->
      <!--ballArr[i].move();-->
    <!--}-->
    <!--ballLine();-->
  <!--},20)-->

  <!--//小圆球之间的连线-->
  <!--function ballLine(){-->
    <!--for(var i = 0;i<ballArr.length;i++){-->
      <!--for(var j = 0;j<ballArr.length;j++){-->
        <!--//距离-->
        <!--if(i!=j && Math.sqrt(Math.pow(ballArr[i].x-ballArr[j].x,2)+Math.pow(ballArr[i].y-ballArr[j].y,2))<80){-->
          <!--ctx.beginPath();-->
          <!--ctx.moveTo(ballArr[i].x,ballArr[i].y);-->
          <!--ctx.lineTo(ballArr[j].x,ballArr[j].y);-->
          <!--ctx.strokeStyle = "rgba(255,255,255,0.1)";-->
          <!--ctx.stroke();-->
        <!--}-->
      <!--}-->
    <!--}-->
  <!--}-->

  <!--function randomNum(start,end){-->
    <!--return Math.floor(Math.random()*(end-start)+start);-->
  <!--}-->

<!--</script>-->

<script>
  layui.use(['jquery'], function () {
    var $ = layui.jquery;
    var num_v = 0;
    $(function () {
      var data1 = {
        statusCode: 200,
        dataName: "人口年龄统计",
        data: [
          {
            name: "0-17岁(人)",
            value: 793
          },
          {
            name: "18-39岁(人)",
            value: 6235
          },
          {
            name: "40-59岁(人)",
            value: 3877
          },
          {
            name: "60-79岁(人)",
            value: 2572
          },
          {
            name: "80-99岁(人)",
            value: 361
          },
          {
            name: "100岁以上(人)",
            value: 4
          }
        ]
      };
      var data2 = {
        statusCode: 200,
        dataName: "商铺统计",
        data: [
          {
            name: "超市",
            value: 8
          },
          {
            name: "药店",
            value: 12
          },
          {
            name: "健身房",
            value: 4
          }
        ]
      };
      ssr2({el:'.so-data1', color:'#8389ed'});
      ssr2({el:'.so-data2', color:'#8389ed'});
      ssr2({el:'.party-age>div',color:'#edb056'});
      ssr2({el:'.party-edu>div',color:'#8eedeb'});
      ssr1({
        el:'.age',
        xAxisData:['0-17', '18-40', '41-60', '61-70', '71-80', '81-90', '91-100'],
        seriesData:[23,12,13,45,34,34,76]
      });
      ssr8('#v_second>span',data1.data);
      ssr7('.gridStatus',data1.data,data1.data);
      // ssr6('#ct',data1.data,data1.data);
      ssr5("#v_first>span",data1.data);
      ssr7('.event-data',data1.data);
    })
  })
</script>


</html>
