<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>综合管理系统</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>

<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>

<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn hidden-xs">
      刷新
    </button>
  </div>
</script>
<script>
  layui.use(['jquery','table'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider;//滑块

    var testData = [
      {id:'2'}
    ];
    var cols=[ //表头
      {type: 'checkbox'}
      , {field: 'id', title: 'id', align: 'center'}
      , {field: 'img_src', title: 'icon', align: 'center'}
      , {field: 'username', title: '用户名', align: 'center'}
      , {field: 'realname', title: '真实姓名', align: 'center'}
      , {field: 'scope', title: '所属区域', align: 'center'}
      , {field: 'phone', title: '联系电话', align: 'center'}
      , {field: 'last_login', title: '最近登陆', align: 'center'}
      , {field: 'ip', title: 'ip地址', align: 'center'}
      , {field: 'name', title: "角色", align: 'center'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';
    setTable(addUrl,editUrl,cols,testData);
  })
</script>

</body>

</html>