<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>

<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn hidden-xs">
      刷新
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块

    // var testData = [{id:'111',username:'aaa',realname:'111',scope:'aaa','phone':'123','ip':'125',name:'aaa'}];
    var cols = [ //表头
      {type: 'checkbox'}
      , {field: 'id', title: 'ID',align:'center'}
      , {field: 'name', title: '角色',align:'center'}
      , {field: 'priv_id', title: '权限',align:'center'}
      , {field: 'time', title: '时间',align:'center'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    function editSuc(layero, index){}
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {
          0:"name",
          1:{
            "title":'角色名称',
            "option":['社区居民','管理员','网格管理员','网格联系人','楼栋长']
          }
        },
        {
          0:'priv_id',
          1:{
            "title":'权限',
            "option":[1,2,3,4,5,6,7]
          }
        }
      ]
      var url = 'http://172.23.22.120/manage/api.php?action=addRole';
      iframe.getFromParent(addData,url);
    }
    var editAjaxUrl = 'http://172.23.22.120/manage/api.php?action=modifyRole';

    var getTable = function() {
      $.ajax({
        url: 'http://172.23.22.120/manage/api.php?action=getAllRoles',
        method: 'GET',
        success(data) {
          var _data = JSON.parse(data);
          userData = _data.data;
          setTable({
            addUrl:addUrl,
            editUrl:editUrl,
            cols:cols,
            data:userData,
            editSuc:editSuc,
            editEnd:editEnd,
            addSuc:addSuc,
            editAjaxUrl:editAjaxUrl
          });
        },
        error(state) {
          console.log(state);
        }
      })
    }
    getTable();
  })
</script>

</body>

</html>