<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>

<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>

<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger delBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn hidden-xs">
      删除
    </button>
  </div>
</script>
<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块

    //执行一个 table 实例
    table.render({
      elem: '#demo'
      , height: 520
      , url: '' //数据接口
      ,data: [
        {
          id: 10002,
          username: "user-2",
          sex: "女",
          city: "城市-2",
          sign: "签名-2",
          experience: 650,
          logins: 77,
          wealth: 6298078,
          classify: "酱油",
          score: 31
        },
        {
          id: 10003,
          username: "user-3",
          sex: "女",
          city: "城市-3",
          sign: "签名-3",
          experience: 362,
          logins: 157,
          wealth: 37117017,
          classify: "诗人",
          score: 68
        }
      ]
      , title: '用户表'
      , page: true //开启分页
      , loading:true
      , toolbar: '#toolBar' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
      , cols: [[ //表头
        {type: 'checkbox', fixed: 'left'}
        , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left'}
        , {field: 'username', title: '用户名', width: 80}
        , {field: 'experience', title: '积分', width: 90, sort: true, totalRow: true}
        , {field: 'sex', title: '性别', width: 100, sort: true}
        , {field: 'score', title: '评分', width: 100, sort: true, totalRow: true}
        , {field: 'city', title: '城市', width: 150}
        , {field: 'sign', title: '签名', width: 100}
        , {field: 'classify', title: '职业', width: 100}
        , {field: 'wealth', title: '财富', width: 100, sort: true, totalRow: true,edit:true}
        , {fixed: 'right',title:"操作", width: 165, align: 'center', toolbar: '#barDemo'}
      ]]
    });

    //监听头工具栏事件
    table.on('toolbar(test)', function (obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      var data = checkStatus.data; //获取选中的数据
      switch (obj.event) {
        case 'add':
          layer.msg('添加');
          break;
        case 'update':
          if (data.length === 0) {
            layer.msg('请选择一行');
          } else if (data.length > 1) {
            layer.msg('只能同时编辑一个');
          } else {
            layer.alert('编辑 [id]：' + checkStatus.data[0].id);
          }
          break;
        case 'delete':
          if (data.length === 0) {
            layer.msg('请选择一行');
          } else {
            layer.msg('删除');
          }
          break;
      }
      ;
    });

    //监听行工具事件
    table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
      var data = obj.data //获得当前行数据
        , layEvent = obj.event; //获得 lay-event 对应的值
      if (layEvent === 'detail') {
        layer.msg('查看操作');
      } else if (layEvent === 'del') {
        layer.confirm('真的删除行么', function (index) {
          obj.del(); //删除对应行（tr）的DOM结构
          layer.close(index);
          //向服务端发送删除指令
        });
      } else if (layEvent === 'edit') {
        layer.msg('编辑操作');
      }
    });

    var checkNum = 0;
    table.on('checkbox(test)',function(obj){

      if(obj.checked){
        checkNum++;
      }else {
        checkNum--;
      }
    });

    $('#edit').click(function(){
      if(checkNum>1){
        layer.msg('一次只能编辑一行')
      }else if(checkNum<=0){
        layer.msg('请勾选要编辑的那一行');
      }else if(checkNum === 1){
        layer.open({
          type:2,
          area:['700px','350px'],
          maxmin:true,
          content:'./alert/edit.html'
        })
      }
    })
  })
</script>
</body>

</html>