<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./alert/const.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal addBtn">
      添加
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
    <button class="layui-btn layui-btn-sm layui-btn-warm listOrderBtn" id="delete">
      删除
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laydate = layui.laydate;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
    var cols = [ //表头
      {type: 'checkbox'}
      , {field: 'id', title: 'id',align:'center'}
      , {field: 'area', title: '所属区域',align:'center'}
      , {field: 'mission_title', title: '任务标题',align:'center'}
      , {field: 'mission_level', title: '任务等级',align:'center'}
      , {field: 'not_before', title: '截止时间',align:'center'}
      , {field: 'created_at', title: '开始时间',align:'center'}
      , {field: 'mission_type', title: '任务类型',align:'center'}
      , {field: 'mission_people', title: '任务人数',align:'center'}
      , {field: 'not_accepted_people', title: '未受理人数',align:'center'}
      , {field: 'processing_people', title: '处理中人数',align:'center'}
      , {field: 'finished_people', title: '已办结人数',align:'center'}
      , {field: '',title:"操作",align:'center',templet:'#detail'}
    ];
    var addUrl = './alert/add.html';
    var editUrl = './alert/edit.html';

    function editSuc(layero, index){}
    function editEnd(){
      getTable();
    }
    function addSuc(layero, index){
      var iframe = window['layui-layer-iframe' + index];
      var addData = [
        {0:'area',1:"区域"},
        {0:"mission_title",1:'任务标题'},
        {0:"mission_level",1:{
            'title':'任务等级',
            'option':['一级','二级 ','三级']
          }},
        {0:"not_before",1:"截止时间"},
        {0:"mission_type",1:{
            'title':'任务类型',
            'option':['群体活动','宣传活动 ','寻访活动','工作例会','通知']
          }},
        {0:'content',1:'任务内容'},
        {0:'mission_people',1:{
          "title":'人员',
            "checkout":['1','2','3']
          }}
      ]
      var url =  globalUrl+otherUrl.Work[0][1];
      iframe.getFromParent(addData,url);
    }
    var correspond = {};
    var editAjaxUrl =  globalUrl+otherUrl.Work[0][3];
    var detailUrl = './alert/detail.html'
    var deleteUrl =  globalUrl+otherUrl.Work[0][2];
    var getTable = function() {
      AJAX({
        url: globalUrl+otherUrl.Work[0][0],
        method: 'POST',
        success:function(data) {
          if(data.state==200){
            console.log(data)
            correspond = data.data;
            setTable({
              addUrl:addUrl,
              editUrl:editUrl,
              cols:cols,
              data:data.data,
              editSuc:editSuc,
              editEnd:editEnd,
              addSuc:addSuc,
              editAjaxUrl:editAjaxUrl,
              deleteUrl:deleteUrl,
              detailUrl:detailUrl,
            });
          }else{
            layer.msg('错误');
          }
        }
      })
    }
    getTable();
  })
</script>

<script id="detail" type="text/html">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal finished" convalue="{{d.id}}">
      <a href="./work3.html">完成情况</a>
    </button>
  </div>
</script>
</body>

</html>