<!DOCTYPE html>
<html class="iframe-h">

<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
  <title>用户管理</title>
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>

<body>
<div class="wrap-container clearfix">
  <div class="column-content-detail">
    <div class="layui-form" id="table-list">
      <table class="layui-hide" id="demo" lay-filter="test"></table>
    </div>
  </div>
</div>
<script src="../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="./alert/const.js"></script>
<script type="text/html" id="toolBar">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-danger edBtn" id="edit">
      编辑
    </button>
  </div>
</script>
<script>
  layui.use(['laypage', 'layer', 'table', 'upload', 'element', 'slider','jquery'], function() {
    var $ = layui.jquery;
    var laypage = layui.laypage //分页
      , layer = layui.layer //弹层
      , table = layui.table //表格
      , upload = layui.upload //上传
      , element = layui.element //元素操作
      , slider = layui.slider //滑块
    var cols = [ //表头
      {type: 'checkbox'}
      , {title: 'id',align:'center',type:'numbers'}
      , {field: 'area', title: '所属区域',align:'center',templet:'<span>{{areaOption[d.area]}}</span>'}
      , {field: 'mission_title', title: '任务标题',align:'center'}
      , {field: 'mission_level', title: '任务等级',align:'center'}
      , {field: 'created_at', title: '发布时间',align:'center'}
      , {field: 'mission_type', title: '发布类型',align:'center'}
      , {field: '', title: '完成情况',align:'center'}
      , {field: '',title:"操作",align:'center',templet:'#detail'}
    ];
    var editUrl = './alert/edit.html';

    function editSuc(layero, index){}
    function editEnd(){
      getTable();
    }
    var correspond = {};
    var editAjaxUrl =  globalUrl+otherUrl.Work[2][3];
    var detailUrl = './alert/detail.html'
    var getTable = function() {
      AJAX({
        url: globalUrl+otherUrl.Work[1][0],
        method: 'POST',
        success:function(data) {
          if(data.state==200){
            correspond = data.data;
            setTable({
              editUrl:editUrl,
              cols:cols,
              data:data.data,
              editSuc:editSuc,
              editEnd:editEnd,
              editAjaxUrl:editAjaxUrl,
              detailUrl:detailUrl
            });
          }else{
            layer.msg('错误');
          }
        }
      })
    }
    getTable();
  })
</script>

<script id="detail" type="text/html">
  <div class="layui-inline tool-btn">
    <button class="layui-btn layui-btn-sm layui-btn-normal detail" convalue="{{d.LAY_INDEX-1}}">
      查看详情
    </button>
  </div>
</script>
</body>

</html>