<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>add</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css" />
</head>

<body>
  <div style="margin:50px;">
    <div class="layui-form-item">
      <label class="layui-form-label">用户名：</label>
      <div class="layui-input-block">
        <input type="text" placeholder="请输用户名" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">真实姓名：</label>
      <div class="layui-input-block">
        <input type="text" placeholder="请输真实姓名" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">所属区域:</label>
      <div class="layui-input-block">
        <input type="text" placeholder="请输入区域" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">联系电话:</label>
      <div class="layui-input-block">
        <input type="text" placeholder="请输入电话" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">角色名称:</label>
      <div class="layui-input-block">
        <select name="role">
          <option value="1" selected="">社区居民</option>
          <option value="2" >管理员</option>
          <option value="3" >网格管理员</option>
          <option value="4" >网格联系人</option>
          <option value="5" >楼栋长</option>
        </select>
      </div>
    </div>
    <div class="layui-form-item" style="padding-left: 10px;">
      <div class="layui-input-block">
        <button class="layui-btn layui-btn-normal" id="sub">立即提交</button>
        <button class="layui-btn layui-btn-primary" id="reset">重置</button>
      </div>
    </div>
  </div>
  <script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
  <script>
    layui.use(['jquery', 'layer'], function () {
      var $ = layui.jquery;
      var layer = layui.layer;
      $('#sub').click(function () {
        var index = parent.layer.getFrameIndex(window.name)
        parent.layer.close(index);
      })

      $('#reset').click(function () {
        $('input').val('');
      })
    })
  </script>
</body>

</html>