<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>add</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css"/>
</head>

<body>
<div style="margin:50px;">
  <div class="layui-form-item" style="padding-left: 10px;">
    <div id="view"></div>
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" id="sub">立即提交</button>
      <button class="layui-btn layui-btn-primary" id="reset">重置</button>
    </div>
  </div>
</div>
<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
<script type="text/html" id="formModle">
  {{#  layui.each(d, function(index,item){ }}
  {{# if(d[index][0]=='img_src'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <button type="button" class="layui-btn" id="test1">
      <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
  </div>
  {{# }else if(d[index][0]=='passwd'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <div class="layui-input-block">
      <input type="password" placeholder="请输{{d[index][1]}}" class="layui-input" id="{{d[index][0]}}">
    </div>
  </div>
  {{# }else if(d[index][0]=='name' || d[index][0]=='priv_id' || d[index][0]=='role_id'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1].title}}</label>
    <div class="layui-input-block">
      <select name="name" class="layui-select" id="{{d[index][0]}}">
        {{# for(var i in d[index][1].option){ }}
        <option value="1">{{d[index][1].option[i]}}</option>
        {{# } }}
      </select>
    </div>
  </div>
  {{# }else{ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <div class="layui-input-block">
      <input type="text" placeholder="请输{{d[index][1]}}" class="layui-input" id="{{d[index][0]}}">
    </div>
  </div>
  {{# } }}
  {{#  }); }}
</script>
<script>
  var elData = {};

  function getFromParent(data,url) {
    elData = data;
    layui.use(['jquery', 'layer', 'upload', 'laytpl'], function () {
      var $ = layui.jquery;
      var laytpl = layui.laytpl;
      var upload = layui.upload;
      var layer = layui.layer;
      var getTpl = document.getElementById('formModle').innerHTML;
      var view = document.getElementById('view');
      laytpl(getTpl).render(elData, function (html) {
        view.innerHTML = html;
      });

      var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        // ,url: '/upload/' //上传接口
        , done: function (res) {
          layer.msg('上传成功');
        }
        , error: function () {
          //请求异常回调
        }
      });

      $('#reset').click(function () {
        $('input').val('');
      })

      $('#sub').click(function () {
        var postJson = {};
        for (let i in elData) {
          if ($('#' + postJson[elData[i][0]]).val() == '') {
            layer.msg('请完善信息');
            return;
          }else{
            if(elData[i][0]=='name' || elData[i][0]=='priv_id' || elData[i][0]=='role_id'){  //option
              var index = document.querySelector('#' + elData[i][0]).selectedIndex;
              // postJson[elData[i][0]] = document.querySelectorAll('#' + elData[i][0]+">option")[index-1].innerText;
              if(elData[i][0]=='name'){
                postJson[elData[i][0]] = document.querySelectorAll('#' + elData[i][0]+">option")[index].innerText;
              }else{
                postJson[elData[i][0]] = index+1;
              }
            }else if(elData[i][0]=='img_src'){
              //img
            }else if(elData[i][0]=='passwd'){
              postJson[elData[i][0]] = md5($('#' + elData[i][0]).val());
            }else{
              postJson[elData[i][0]] = $('#' + elData[i][0]).val();
            }
          }
        }
        console.log(postJson);
        $.ajax({
          url:url,
          method: "POST",
          data: postJson,
          success() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
          },
          error(data) {
            console.log(data);
          }
        });
      })

    })
  }
</script>
</body>

</html>