<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css"/>
  <style>
    .xxx {
      display: flex;
      flex-wrap:wrap;
      /*justify-content: space-between;*/
      /*flex-direction: column;*/
      flex-wrap:wrap;
    }
    .wrap {
      display:flex;
      margin-bottom: 25px;
      margin-right:30px;
    }
    .wrap>div {
      font-size:15px;
    }
    .left {
      padding:6px 15px;
      background-color: #009688;
      color:#fff;
    }
    .right {
      padding:6px 30px;
      border:1px solid #00524a;
    }
  </style>
</head>
<body>
<div id="box" style="padding:40px;">
  <div id="view"></div>
</div>
<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="./const.js"></script>
<script type="text/html" id="formModle">
  <div class="xxx">
  {{# for(let i in d[0]){ }}
  <div class="wrap">
    <div class="left">{{ys[i]}}</div>
    {{# if(i=='level'){ }}
    <div class="right">{{level[d[0][i]]}}</div>
    {{# }else if(i=='status'){ }}
    <div class="right">
      {{# if(dealStatus[d[0][i]]!=undefined){ }}
      {{dealStatus[d[0][i]]}}
      {{# } }}
    </div>
    {{# }else if(i=='resource'){ }}
    <div class="right">
      {{eventResource[d[0][i]]}}
    </div>
    {{# }else if(i=='type'){ }}
    <div class="right">
      {{eventType[d[0][i]]}}
    </div>
    {{# }else if(i=='img_path'){ }}
    <div class="right">
      <img style="max-width: 300px;max-height: 300px;" src="{{globalUrl+d[0][i]}}" alt="">
    </div>
    {{# }else if(i=='is_duban'){ }}
    <div class="right">
      {{yesNo[d[0][i]]}}
    </div>
    {{# }else{ }}
    <div class="right">
      {{# if(d[0][i]!=null){ }}
        {{d[0][i]}}
      {{# } }}
    </div>
    {{# } }}
  </div>
  {{# } }}
  </div>
</script>

<script>
  function getFromParent(data){
    elData = data;
    layui.use(['jquery', 'layer', 'upload', 'laytpl'], function () {
      var $ = layui.jquery;
      var laytpl = layui.laytpl;
      var getTpl = document.getElementById('formModle').innerHTML;
      var view = document.getElementById('view');
      laytpl(getTpl).render(elData, function (html) {
        view.innerHTML = html;
      });
    })
  }
</script>
</body>
</html>