<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css" />
</head>
<body>
<div style="margin:50px;">
  <div class="layui-form-item">
    <label class="layui-form-label">ID：</label>
    <div class="layui-input-block">
      <input type="text" value="id" placeholder="" class="layui-input layui-disabled" id="id" disabled>
    </div>
  </div>
  <div id="view"></div>
  <div class="layui-form-item" style="padding-left: 10px;">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" id="sub">保存</button>
    </div>
  </div>
</div>

<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="../../../static/admin/js/common.js"></script>
<script src="./const.js"></script>
<script type="text/html" id="formModle">
  {{#  layui.each(d, function(index,item){ }}
  {{# if(postFile.indexOf(d[index][0])!=-1){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <form id="uploadForm" enctype="multipart/form-data">
      <input type="file" style="opacity:0;width:80px;
height:100%;" id="{{d[index][0]}}">
    </form>
    <button style="position:relative;top:-25px;z-index:-1;" type="button" class="layui-btn">
      <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
    <img id="fileImg" src="" alt="" style="display:block;margin:0 auto;max-width: 300px;max-height: 300px;">
  </div>
  {{# }else if(d[index][0]=='not_before'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <div class="layui-input-inline" id="{{d[index][0]}}">
      <input type="text" class="layui-input" id="time" placeholder="yyyy-MM-dd">
      <input type="text" class="layui-input" id="time2" placeholder="s:f:m" style="margin-top:10px;">
    </div>
  </div>
  {{# }else if(d[index][0]=='mission_people'){ }}
  <div class="layui-form-item" id="{{d[index][0]}}">
    <label class="layui-form-label">{{d[index][1].title}}</label>
    <div class="check-wrap layui-form-item">
      {{# for(var i in d[index][1].checkout){ }}
      <div>
        <input title="{{d[index][1].id[i]}}" class="con-checkbox" type="checkbox" name="layTableCheckbox" lay-skin="primary">
        {{d[index][1].checkout[i]}}
      </div>
      {{# } }}
    </div>
  </div>
  {{# }else if(optionAdd.indexOf(d[index][0])!=-1){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1].title}}</label>
    <div class="layui-input-block">
      <select name="name" class="layui-select" id="{{d[index][0]}}">
        {{# for(var i in d[index][1].option){ }}
        <option value="1">{{d[index][1].option[i]}}</option>
        {{# } }}
      </select>
    </div>
  </div>
  {{# }else{ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <div class="layui-input-block">
      <input type="text" placeholder="请输入{{d[index][1]}}" class="layui-input" id="{{d[index][0]}}">
    </div>
  </div>
  {{# } }}
  {{#  }); }}
</script>

<script>
  function getFromParent(data,url,last){
    var userid = data.id;
    var elData = [];
    for(let i in data){
      if(i=='mission_people'){
        elData.push(last.people);
      }else{
        if(allow[i]!=undefined){
          elData.push({0:i,1:allow[i]});
        }
      }
    }

    //分割事件串
    if(data['not_before']!=undefined){
      var timeArr = data['not_before'].split(' ');
    }

    layui.use(['jquery', 'layer', 'upload', 'laytpl','laydate'], function () {
      var $ = layui.jquery;
      var laytpl = layui.laytpl;
      var upload = layui.upload;
      var layer = layui.layer;
      var laydate = layui.laydate;
      var getTpl = document.getElementById('formModle').innerHTML;
      var view = document.getElementById('view');
      laytpl(getTpl).render(elData, function (html) {
        view.innerHTML = html;
        var input = document.querySelectorAll('input');
        for(let i=0;i<input.length;i++){
          var atr = input[i].getAttribute('id');
          if(atr == 'time'){
            input[i].value = timeArr[0];
          }else if(atr == 'time2'){
            input[i].value = timeArr[1];
          }else{
            input[i].value = data[atr];
          }
        }
      });

      laydate.render({
        elem: '#time'
      });

      laydate.render({
        elem: '#time2'
        ,type: 'time'
      });

      $('#sub').click(function () {
        var postJson = {};
        for (let i in elData) {
          if (document.querySelector('#' + elData[i][0]).value == '') {
            layer.msg('请完善信息');
            return;
          }else{
            if(optionAdd.indexOf(elData[i][0])!=-1){  //option
              var index = document.querySelector('#' + elData[i][0]).selectedIndex;
              if(indexOne.indexOf(elData[i][0])!=-1){ //index 从1开始
                postJson[elData[i][0]] = index+1;
              }else if(optionPostValue.indexOf(elData[i][0])!=-1){
                postJson[elData[i][0]] = document.querySelectorAll('#'+elData[i][0]+" option")[index].innerText;
              }else{
                postJson[elData[i][0]] = index+1;
              }
            }else if(postFile.indexOf(elData[i][0])!=-1){ //img
              formdata= new FormData($("#uploadForm"));
            }else if(elData[i][0]=='passwd'){
              postJson[elData[i][0]] = md5($('#' + elData[i][0]).val());
            }else if(postTime.indexOf(elData[i][0])!=-1){  //时间戳
              if($('#'+elData[i][0]+" #time").val()=='' || $('#'+elData[i][0]+" #time2").val()==''){
                layer.msg('请完善信息');
                return;
              }
              let str = $('#'+elData[i][0]+" #time").val() +" "+$('#'+elData[i][0]+" #time2").val();
              var str2 = new Date(str);
              var sjc = Date.parse(str2);
              postJson[elData[i][0]] = sjc/1000;
            }else if(checkoutAdd.indexOf(elData[i][0])!=-1){
              let checkbox = document.querySelectorAll('#'+elData[i][0]+" input[type='checkbox']:checked");
              let arr = [];
              for(let i=0;i<checkbox.length;i++){
                arr.push(parseInt(checkbox[i].getAttribute('title')));
              }
              postJson[elData[i][0]] = JSON.stringify(arr);
            }else{
              postJson[elData[i][0]] = $('#' + elData[i][0]).val();
            }
          }
        }

        postJson['id'] = data.id;
        if(last.postTime!=undefined){
          postJson[last.postTime] = parseInt((new Date()).valueOf()/1000);
        }
        console.log(postJson);
        AJAX({
          url:url,
          method: "POST",
          data: postJson,
          success() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
          }
        });
      })

      if($('#img_src')){
        $('#file').change(function(){
          var src = window.URL.createObjectURL(this.files[0])
          $('#fileImg').attr('src',src)
        })
      }
    });
  }
</script>

</body>
</html>