<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>edit</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css" />
</head>
<body>
<div style="margin:50px;">
  <div class="layui-form-item">
    <label class="layui-form-label">ID：</label>
    <div class="layui-input-block">
      <input type="text" value="id" placeholder="" class="layui-input layui-disabled" id="id" disabled>
    </div>
  </div>
  <div id="view"></div>
  <div class="layui-form-item" style="padding-left: 10px;">
    <div class="layui-input-block">
      <button class="layui-btn layui-btn-normal" id="sub">保存</button>
    </div>
  </div>
</div>

<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="./const.js"></script>
<script type="text/html" id="formModle">
  {{#  layui.each(d, function(index,item){ }}
  {{# if(d[index][0]=='img_src'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <button type="button" class="layui-btn" id="test1">
      <i class="layui-icon">&#xe67c;</i>上传图片
    </button>
  </div>
  {{# }else if(d[index][0]=='name' || d[index][0]=='priv_id' || d[index][0]=='role_id'){ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1].title}}</label>
    <div class="layui-input-block">
      <select name="name" class="layui-select" id="{{d[index][0]}}">
        {{# for(var i in d[index][1].option){ }}
        <option value="1">{{d[index][1].option[i]}}</option>
        {{# } }}
      </select>
    </div>
  </div>
  {{# }else{ }}
  <div class="layui-form-item">
    <label class="layui-form-label">{{d[index][1]}}</label>
    <div class="layui-input-block">
      <input type="text" placeholder="请输入{{d[index][1]}}" class="layui-input" id="{{d[index][0]}}">
    </div>
  </div>
  {{# } }}
  {{#  }); }}
</script>

<script>
  function getFromParent(data,url){
    var userid = data.id;
    var elData = [];
    for(let i in data){
      if(allow[i]!=undefined){
        elData.push({0:i,1:allow[i]});
      }
    }
    layui.use(['jquery', 'layer', 'upload', 'laytpl'], function () {
      var $ = layui.jquery;
      var laytpl = layui.laytpl;
      var upload = layui.upload;
      var layer = layui.layer;
      var getTpl = document.getElementById('formModle').innerHTML;
      var view = document.getElementById('view');
      laytpl(getTpl).render(elData, function (html) {
        view.innerHTML = html;
        var input = document.querySelectorAll('input');
        for(let i=0;i<input.length;i++){
          var atr = input[i].getAttribute('id');
          input[i].value = data[atr];
        }
      });

      $('#sub').click(function () {
        var postJson = {};
        for (let i in elData) {
          if ($('#' + postJson[elData[i][0]]).val() == '') {
            layer.msg('请完善信息');
            return;
          }else{
            if(elData[i][0]=='name' || elData[i][0]=='priv_id' || elData[i][0]=='role_id'){  //option
              var index = document.querySelector('#' + elData[i][0]).selectedIndex;
              // postJson[elData[i][0]] = document.querySelectorAll('#' + elData[i][0]+">option")[index-1].innerText;
              if(elData[i][0]=='name'){
                postJson[elData[i][0]] = document.querySelectorAll('#' + elData[i][0]+">option")[index].innerText;
              }else{
                postJson[elData[i][0]] = index+1;
              }
              console.log(index+1)
            }else if(elData[i][0]=='img_src'){
              //img
            }else{
              postJson[elData[i][0]] = $('#' + elData[i][0]).val();
            }
          }
        }
        console.log(postJson);
        $.ajax({
          url:url,
          method: "POST",
          data: postJson,
          success() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
          },
          error(data) {
            console.log(data);
          }
        });
      })

    });
  }
</script>

</body>
</html>