<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>score</title>
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" type="text/css" href="../../../static/admin/css/admin.css"/>
  <style>
    .box {
      width:300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top:25px;
    }
    #score i{
      font-size:30px;
    }
  </style>
</head>
<body>
<div class="box">
  <div id="score"></div>
  <button class="layui-btn layui-btn-sm" style="display: block;" id="sure">确定</button>
</div>

<script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="./const.js"></script>
<script>
function getFromParent(data,id){
  layui.use(['rate','layer','jquery'],function(){
    var rate = layui.rate;
    var $ = layui.jquery;
    var layer = layui.layer;
    rate.render({
      elem: '#score',
      length:4,
      //value:''
    });

    document.getElementById('sure').onclick = function(){
      var num = document.querySelectorAll('.layui-inline .layui-icon-rate-solid').length;
      $.ajax({
        url:"http://47.106.197.31/manage/api.php?action=modifyEventInfo",
        method:"POST",
        data:{
          id:id,
          rank:num
        },
        success(){
          layer.msg('评分成功');
          var index = parent.layer.getFrameIndex(window.name);
          parent.layer.close(index);
        },
        error(){
          layer.msg('错误');
          var index = parent.layer.getFrameIndex(window.name);
          parent.layer.close(index);
        }
      });
    }
  })
}
</script>
</body>
</html>